<div class="jumbotron">
  <h1>Questions will be here</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div ng-controller="QuestionsCtrl" class="row marketing">
	<div ng-repeat="question in questions">
		<h3>{{ question.caption }}</h3>
		<h4>{{ question.text }}</h4>
		<h5>{{ question.user.name }}</h5>
	</div>
</div>
