<div ng-controller="QuestionDetailsCtrl">
	<div class="jumbotron">
		<p class="question-caption text">{{ question.caption }}</p>
		<p align="left" class="question-text text">{{ question.text }}</p>
		<p align="right" class="question-author">{{ question.user.nickname }}</p>
	</div>

	<div class="row marketing text">
		<div ng-repeat="answer in question.answers" id="answer-{{ answer.id }}" class="anchor">
			<p class="answer-text">{{ answer.text }} <a ng-href="{{ '#' + path() + '#answer-' + answer.id }}">#</a></p>
			<p class="answer-author">{{ answer.user.nickname }}</p>
			<br>
		</div>

		<div ng-show="user !== null" id="answer">
			<form ng-submit="submit()">
				<input type="submit" value="Post answer" class="btn btn-primary" />
				
				<div class="form-group>
					<label for="textInput">Text:</label>
					<textarea cols="50" rows="10" id="textInput" class="form-control" ng-model="answer.text" placeholder="Please write your answer here" />  
				</div>
			</form>
		</div>
	</div>
</div>
