<div class="jumbotron">
  <h1>Just ask it!</h1>
</div>

<div ng-controller="QuestionsCtrl" class="row marketing">
	<div ng-show="user === null">
		<h2>Please, <a ng-href="#/register/">register</a> to ask questions</h2>
		<h3>It's just about a few clicks</h3>
	</div>

	<form ng-show="user !== null" ng-submit="submit()">
		<input type="submit" value="Ask it!" class="btn btn-primary" />

		<div class="form-group">
			<label for="captionInput">Caption:</label>
			<input id="captionInput" class="form-control" type="text" ng-model="question.caption" placeholder="Select short caption which describes your question well" >
		</div>
		<div class="form-group">
			<label for="textInput">Text:</label>
			<textarea rows="10" cols="100" id="textInput" class="form-control" type="textarea" ng-model="question.text" placeholder="Here you can add your question text" />
		</div>

		<div />
	</form>
</div>
