<div ng-controller="RegisterCtrl">
	<div class="jumbotron">
		<h2>{{ message }}</h2>
	</div>

	<div class="row marketing">
		<form ng-submit="register()">
			<input type="submit" value="Register" class="btn btn-primary" />
			<div class="form-group">
				<label for="name">Full name:</label>
				<input id="name" class="form-control" type="text" required="required" ng-model="credentials.name" >
			</div>

			<div class="form-group">
				<label for="nickname">Username:</label>
				<input id="nickname" class="form-control" type="text" required="required" ng-model="credentials.nickname" >
			</div>

			<div class="form-group">
				<label for="emailInput">Email:</label>
				<input id="emailInput" class="form-control" type="email" required="required" ng-model="credentials.email" >
			</div>
			<div class="form-group">
				<label for="passwordInput">Password:</label>
				<input id="passwordInput" class="form-control" type="password" required="required" ng-model="credentials.password" />
			</div>

			<div class="form-group">
				<label for="passwordConfirmInput">Password Confirmation:</label>
				<input id="passwordConfirmInput" class="form-control" type="password" required="required" ng-model="credentials.password_confirmation" />
			</div>
		</form>
	</div>
</div>
